################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/RTD Wormhole Client/bin
/RTD Wormhole Client/obj
/packages
